<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.page.mapper.CarMapper">

    <resultMap id="carInfo" type="com.example.page.entity.Car">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="stroeName" column="store_name"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="address" column="address"/>
        <result property="image" column="image"/>
        <result property="phone" column="phone"/>
        <result property="grade" column="grade"/>
        <result property="flag" column="flag"/>

    </resultMap>

    <select id="findAll" resultMap="carInfo">
        select * from bas_car
    </select>

</mapper>